@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --azul: rgba(55, 114, 255, 1);
  --verde: rgba(54, 214, 173, 1);
  --coral: rgba(252, 112, 113, 1);
  --creme: rgba(252, 240, 227, 1);
  --cinza: rgb(115, 115, 128);
  --cinza-claro: rgb(188, 188, 188);
  --cinza-claro-fundos: rgba(246, 246, 246, 1);
  --branco: #FFFFFF;
  --preto: #000000;
  --shadow: #00000026;

  --fonte-padrao: 'Poppins', sans;
  --fonte-title: 'IBM Plex Sans', sans;
}

